{
  "bot_token": "YOUR_TELEGRAM_BOT_TOKEN_HERE",
  "admin_id": "YOUR_ADMIN_TELEGRAM_ID_HERE",
  "github_token": "YOUR_GITHUB_PERSONAL_ACCESS_TOKEN",
  "repo_owner": "YOUR_GITHUB_USERNAME",
  "repo_name": "YOUR_GITHUB_REPOSITORY_NAME",
  "concurrency": 400,
  "bot_port": 5000,
  "proxies": []
}
